.iridescence-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.iridescence-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Fixed background wrapper for entire site */
.iridescence-background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.iridescence-background-wrapper .iridescence-container {
  width: 100%;
  height: 100%;
}