.robot-section {
  height: 55vh;
  min-height: 480px;
  width: 100%;
  position: relative;
  overflow: visible;
  pointer-events: none;
  margin: 0 auto;
  margin-bottom: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}


.robot-section > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .robot-section {
    height: 45vh;
    min-height: 350px;
    margin-bottom: -50px;
  }
}

@media (max-width: 480px) {
  .robot-section {
    height: 60vh;
    min-height: 300px;
    margin-bottom: -30px;
  }
}